<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>alysium dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Alysium requires access to the camera to allow you to take and set a profile picture. This photo will only be used within the app to personalize your account.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Alysium requests permission to save images to your photo library. This allows you to export and keep copies of photos you edit or create within the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Alysium needs access to your photo library to allow you to choose an existing photo as your profile picture. We will only access the specific image you select to personalize your account.</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeue-Bold.ttf</string>
		<string>HelveticaNeue-BoldItalic.ttf</string>
		<string>HelveticaNeue-CondensedBlack.ttf</string>
		<string>HelveticaNeue-CondensedBold.ttf</string>
		<string>HelveticaNeue-Italic.ttf</string>
		<string>HelveticaNeue-Light.ttf</string>
		<string>HelveticaNeue-LightItalic.ttf</string>
		<string>HelveticaNeue-Medium.ttf</string>
		<string>HelveticaNeue-MediumItalic.ttf</string>
		<string>HelveticaNeue-Thin.ttf</string>
		<string>HelveticaNeue-ThinItalic.ttf</string>
		<string>HelveticaNeue-UltraLight.ttf</string>
		<string>HelveticaNeue-UltraLightItalic.ttf</string>
		<string>HelveticaNeue.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alysium</string>
			</array>
			<key>CFBundleURLName</key>
			<string>io.alysium.dev</string>
		</dict>
	</array>
</dict>
</plist>
